---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <!--
      <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
     -->
    

    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Tools/Pages</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="https://img-editor-git-main-cristian324s-projects.vercel.app/" target="_black">Image Editor</a>
        </li>
        <li class="submenu-item">
          <a href="">PDF Manipulator</a>
        </li>
        <li class="submenu-item">
          <a href="">More...</a>
        </li>
      </ul>
    </li>

    <li class="menu-item type-icon">
      <a href="https://www.instagram.com/cristian_a_prieto?igsh=MWs3cjZvMjRxeXh2cg==" target="_blank" title="Go to the GitHub page">
        <Icon name="ion:logo-instagram" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/cprietop" title="Go to the GitHub page">
        <Icon name="ion:logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
